@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .okay div:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .okay div:nth-child(2) {
    grid-area: 1/2/2/-1;
  }
  .okay div:nth-child(3) {
    grid-area: 2/1/2/3;
  }
  .okay div:nth-child(4) {
    grid-area: 2/3;
    /* background-color: #000000a0; */
  }

  .center {
    @apply h-[100vh] grid place-items-center;
  }
}

.slide {
  border: 1px sol;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
}

.slide:nth-child(1) {
  background-color: rgb(88, 226, 226);
}
.slide:nth-child(2) {
  background-color: rgb(221, 226, 88);
}

.slide:nth-child(3) {
  background-color: rgb(9, 242, 172);
}

.slide:nth-child(4) {
  background-color: rgb(244, 16, 149);
}
.slide:nth-child(5) {
  background-color: #5e1ed4;
}

.gradient {
  /* clip-path: circle(11.2% at 50% 50%); */
  /* clip-path: circle(100%); */
}

/* .mask:nth-child() */

.test {
  mask-image: url("../../public/mask.svg");
  background-color: black;
  mask-repeat: no-repeat;
  mask-size: 0px;
}

.cent {
  @apply h-[100vh] grid place-items-center;
}
